* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --purple: #4b0082;
    --green: rgb(53, 206, 165);
    --light-green: rgb(164, 255, 213);
    --red: rgb(247, 75, 72);
}
button:hover {
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.green-text {
    color: var(--green);
}