.action {
    color: var(--grey-text); 
}
.Buy {
    color: var(--green);
}
.Sell {
    color: var(--red);
}
.card-container {
    width: 30%;
    margin: 5% 1.5%;
    box-shadow: 0px 0px 10px 10px rgb(162, 162, 162);
    margin-bottom: 10%;
}

.card-market-side {
    padding-top: 3%;
    padding-bottom: 12%;
}
.card-header {
    background: var(--purple);
    text-align: center;
}
.card-price {
    padding-top: 12%;
    padding-bottom: 3%;
}
.current-position-duration {
    color: var(--grey-text);
    margin-top: 2%;
    margin-left: 1%;
}
.current-position-percentage-container {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.percentage-circle {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    border: 10px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.current-position-percentage {
    color: var(--grey-text);
}
.action-container {
    display: flex;
    padding-left: 1%;
    margin-bottom: 5%;
}
.action-title {
    padding-right: 3%;
    color: var(--grey-text);
}