.facts-container {
    margin: 15% 0;
}
.facts-left {
    width: 50%;
    background: var(--purple);
    color: white;
    display: flex;
}
.facts-description {
    margin-top: 8%;
    line-height: 1.4rem;
}
.facts-content {
    margin-left: 8%;
}
.facts-title {
    padding-top: 8%;
}
.facts-list-container {
    padding: 5% 0;
}
.fact-list-item {
    margin: 5%;
    list-style: none;
}
.facts-list-container i {
    color: var(--red);
    margin-right: 3%;
    margin-bottom: 5%;
}
.facts-skew {
    background: var(--purple);
    width: 100%;
    height: 100%;
    z-index: -1;
    position: relative;
    top: -100%;
    right: -20%;
    transform: skewX(-3deg);
}