.landing-content {
    display: flex;
    padding-top: 7%;
    padding-bottom: 5%;
    background: var(--purple);
}
.landing-left {
    width: 35%;
    margin-left: 15%;
    color: white;
    font-size: 1.3rem;
}

.landing-right {
    width: 40%;
    margin: 0 5%;
    background: white;
    border: 1px solid var(--purple);
    color: var(--purple);
    padding: 3%;
    position: relative;
    bottom: -100px;
}