.facts-container {
    margin-top : 15%;
}
.facts-left {
    width: 50%;
    background: var(--purple);
    color: white;
}
.facts-description {
    margin-top: 8%;
    line-height: 1.4rem;
}
.facts-list-container {
    padding: 5% 0;
}
.fact-list-item {
    margin: 5%;
    list-style: none;
}
.facts-list-container i {
    color: var(--red);
    margin-right: 3%;
}
